#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: rgb(151, 164, 203);
}

#headline {
    margin: 50px 0;
}

img {
    max-width: 50%;
    display: block;
    height: auto;
    margin: 0 auto;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
}

ul {
    text-align: left;
    line-height: 1.6;
}


